
  <h1 class="text-center">Blog posts</h1><br><br>
  
  <form action="/posts/new" method="get">
    <button class="btn text-center">Create new post</button>
  </form><br>

  <form action="/tags" method="get">
    <button class="btn text-center">View all tags</button>
  </form><br><br><br>
  
  <% @posts.each do |post| %>
  <div class="row">
    <h2 class="text-center"><%= post.title %></h2><br>
    <p class="text-center">By: <%= post.author %></p><br>
    <p><%= post.body %></p>
    <p>Last updated: <%= post.updated_at %></p>
    <p>Comments - <%= post.comments.length %></p>
    <form class="text-center" action="/posts/<%= post.id %>" method="get">
      <button class="btn">View this post</button>
    </form><br>
    <div class="text-center">
      <%= button_to "Delete this post", post_path(post), method: :delete, class: "btn text-center" %>
    </div>
  </div><br><br><br>
  <% end %>
</div>

