<div>
  <form action="/posts/new" method="get">
    <button>Create new post</button>
  </form>
  <form action="/tags" method="get">
    <button>View all tags</button>
  </form>
  <% @posts.each do |post| %>
    <h3><%= post[:post].title %></h3><br>
    <p>By: <%= post[:post].author %></p>
    <p><%= post[:post].body %></p><br>
    <p>Tags: 
      <% post[:tags].each do |tag| %>
        <%= tag.name %><span> </span>
      <% end %>
    </p></br>
    <form action="/posts/<%= post[:post].id %>" method="get">
      <button>View this post</button>
    </form>
  <% end %>
</div>