<div>
	<h3>Write new blog post:</h3></br>
	<div class="form-group">
		<%= form_for @post do |f| %>
			<%= f.text_field :title, class: "form-control", placeholder: "Title" %>
			<%= f.text_field :author, class: "form-control", placeholder: "Author" %>
			<%= f.text_area :body, class: "form-control", rows: 5, placeholder: "Write something..." %>

			<!-- To manage mutliple tags -->
			<input class="form-control" type="text" placeholder="Tags" name="post[tags]">

			<%= f.submit "Create Post" , class: "form-control" %>
		<% end %>
	</div>
</div>